@charset "utf-8";
/* CSS Document */

h1 {
    font-family: industry, sans-serif;
    font-size: 7.4vw;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #B29A5C;
}

h2 {
    font-family: industry, sans-serif;;
    font-size: 3.9vw;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #B29A5C;
}


footer{
	font-family: industry, sans-serif;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #B29A5C;
}

hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 0.15vw;
    border-color: #B29A5C;
} 

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 6vw;
    margin: 3.5vw;
}

.logo {
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 6vw;
    margin-bottom: 6vw;
}

.keys {
    display: block;
    margin: auto;
    width: 67.5%;
    margin-top: 1vw;
    padding-bottom: 12.5vw;
}

.lineOne {
    width: 75%;
    margin-bottom: 0.75vw;
}

.lineTwo {
    width: 65%;
    margin-bottom: 0.75vw
}

.lineThree {
    width: 75%;
    margin-bottom: 0px;
}

.triangle {
    display: block;
    margin: auto;
    width: 0;
	height: 0;
	border-left: 3vw solid transparent;
	border-right: 3vw solid transparent;
	border-top: 3vw solid #B29A5C;  
}