@charset "utf-8";
/* CSS Document */

#container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

@font-face {
    font-family: "Bobo";
    src: url("../fonts/Bobo (Regular).otf");
}

h1 {
    font-family: "Bobo";
    font-size: 11vw;
    color: #B29A5C;
    text-align: center;
}

h2 {
    font-family: "Bobo";
    font-size: 6.3vw;
    color: #B29A5C;
    text-align: center;
}
