display: flex;
    align-items: center;
    justify-content: center;display: flex;
    align-items: center;
    justify-content: center;display: flex;
    align-items: center;
    justify-content: center;@charset "UTF-8";
/* CSS Document */

.box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5x;
  -ms-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  border: none;
  text-decoration: none;
  background-color: olive;
  color: white;
  padding: 10px; }

body {
	background-color: silver;
	}
	
p {
	color: navy;
	font-weight: bold;
	font-size: 2vw;
	border-radius: 1vw;
	display: inline-block;
	text-align: center;
	border: none;
	text-decoration: none;
	background-color: seagreen;
	padding: 2vw;
	margin: 0.75vw;
    width: 25%;
	}
	
.flex-container {
  display: flex; }
	
p a:hover {
		color:darkviolet;
		font-weight:bold;
		text-decoration:underline;
		}

section {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 0px;
        -moz-column-gap: 0px;
        column-gap: 0px;
        padding-bottom: 30px;
        width: 45%;
        }

	
.pagination.button {
    font-size: 3vw;
    border-radius: 1.2vw;
    background-color: #4CAF50;
    border: none;
    display: inline-block;
    padding: 3vw 5vw;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

@media only screen and (max-width: 600px) {
    
    section {
        width: 100%;
    }
    
    p {
        font-size: 9vw;
        width: 90%;
    }
    
    .pagination.button {
        font-size: 9vw;   
    }
    
}