@charset "utf-8";
/* CSS Document */

@media only screen and (max-width: 1050px) {
    .header h1 {
        font-size: 54px;  
        padding: 10px;
    }
    .nav h2 {
    margin-left: 30px;
    font-size: 28px;
    }
    .about {
        justify-content: center;
    }
    .about img {
        display: block;
        margin: auto;
        margin-top: 10px;
        width: 90%;
        float: none;
    }
    .about p {
    font-size: 22px;
    text-align: center;
    }
    .items h3 {
	font-size: 22px;
	border-radius: 3px;
	padding: 4px;
	margin: 2px;
    width: 100%;
    }
    .contactFlex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contactFlex div {
        width: 100%;
    }
    label {
        font-size: 22px;
        text-align: left;
    }
    input {
        font-size: 22px;   
    }
    textarea {
        font-size: 22px;
    }
    form h2 {
        font-size: 38px;
    }
}

@media only screen and (max-width: 600px) {
    .header h1 {
        font-size: 32px;
        padding: 5px;
    }
    .nav h2 {
        margin-left: 10px;
        font-size: 14px;
    }
    .about {
        width: 100%;
    }
    .about img {
        width: 70%;
    }
    .about p {
        font-size: 18px;   
    }
    .items {
        width: 100%;
    }
    .items h3 {
        font-size: 16px;
        width: 100%;
    }
    label {
        font-size: 14px;
        text-align: left;
    }
    input {
        font-size: 14px;   
    }
    textarea {
        font-size: 14px;
        width: 20em;
    }
    form h2 {
        font-size: 24px;
    }
}


@media only screen and (min-width: 1500px) {
    
}
