@charset "utf-8";
/* CSS Document */

.background {
	background-color: silver;
}

.container {
    display: block;
    margin: auto;
    width: 95%;
}

.header {

}

.header h1 {
    border: none;
    display: block;
    margin: 0px;
    padding: 15px;
    font-size: 4.5vw;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.nav {
    display: flex;
    background-color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.nav h2 {
    margin-left: 3vw;
    font-size: 2vw;
    color: blue;
}
.banner {
    
}

.banner img {
    display: block;
    margin: auto;
    width: 100%;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.about {
    background-color: #4CAF50;
    width: 45%;
}

.about img {
    float: left;
    margin: 1vw;
    width: 40%;
}

.about p {
    font-size: 1.5vw;
}

.items {
    width: 55%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.items h3 {
    color: navy;
	font-weight: bold;
	font-size: 1.2vw;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	border: none;
	text-decoration: none;
	background-color: seagreen;
	padding: 0.5vw;
	margin: 0.3vw;
    width: 45%;
}

.contactForm {
    text-align: center;
    margin-top: 10px;
    background-color: #4CAF50;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.contactFlex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contactFlex div {
    width: 25%;
}
label {
    font-size: 1vw;
    text-align: left;
}
input {
    font-size: 1vw;   
}
textarea {
    font-size: 1vw;
    height: 4em;
    width: 25em;
}
form h2 {
    font-size: 1.8vw;
}
