@charset "utf-8";
/* CSS Document */

body {
	background-color: silver;
	}

p {
	color: navy;
	font-weight: bold;
	font-size: 2vw;
	border-radius: 1vw;
	display: inline-block;
	text-align: center;
	border: none;
	text-decoration: none;
	background-color: seagreen;
	padding: 2vw;
	margin: 0.75vw;
    width: 40%;
}

p a:hover {
		color:darkviolet;
		font-weight:bold;
		text-decoration:underline;
}

.flex-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header {
    font-size: 4.5vw;
    border-radius: 1.2vw;
    background-color: #4CAF50;
    border: none;
    display: block;
    margin: 1vw;
    padding: 3vw 5vw;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.pagination.button {
    font-size: 3vw;
    border-radius: 1.2vw;
    background-color: #4CAF50;
    border: none;
    display: inline-block;
    padding: 3vw 5vw;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@media only screen and (max-width: 600px) {
    p {
        width: 100%;
        font-size: 7vw;
    }
    
    .header {
        font-size: 8vw;
    }
