html {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #1d002f;
  color: #b49b5d;
  width: 100%;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  text-align: left;
  letter-spacing: .4px;
  overflow-x: hidden;
}

.test {
  height: 100vh;
  width: 80%;
  background-color: black;

}

.department {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-flow: column nowrap;
  margin-bottom: 50px;
}

.departmentLast {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-flow: column nowrap;
}

a {
  color: #b49b5d;
  text-decoration: none;
}

a:visited {
  color: #b49b5d;
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 100vw;
  min-height: 150vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: column nowrap;
}

.wrapper {
  background-color: white;
  width: 80%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
  padding: 30px;
}

.dHeader {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  color: #310d31;
  margin-bottom: 50px;
}

.dHeader h1 {
  font-size: 40px;
  font-family: factoria, serif;
  margin: 0 0 15px 0;
  padding: 0;
  letter-spacing: 10px;
  text-align: center;
}

.dLines {
  background-color: transparent;
  height: 2vh;
  width: 80%;
  border-top: 2px solid #b49b5d;
  border-bottom: 2px solid #b49b5d;
}

.dImage {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

#studentImage {
  border: 30px solid transparent;
  border-image: url(assets/picOutline.png) 30 round;
  -webkit-border: 25px solid transparent;
  -webkit-border-image: url(assets/picOutline.png) 25 round;
}

.sList {
  height: 60%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
}

.studentInfo {
  color: #1d002f;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .wrapper {
    width: 100%;
    padding: 5px;
  }
  .dHeader h1 {
    font-size: 30px;
    letter-spacing: 5px;
  }
  .studentInfo {
    font-size: 15px;
  }
  #studentImage {
    height: 100px;
    width: 100px;
  }
}
