@font-face {
  font-family: bobo;
  src: url(bobo.otf); }
body {
  display: block;
  width: 100vw; }

img {
  width: 60%;
  display: block;
  margin: 0 auto;
  max-width: 25rem;
  position: absolute;
  z-index: 500;
  left: 50%;
  transform: translateX(-50%);
  top: 1rem; }

.logo-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  max-height: 90vh;
  width: 80%;
  margin: 9rem auto;
  justify-items: center;
  align-items: center;
  max-width: 30rem;
  color: #ac974b;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: solid;
  border-image: url(STD_splash.svg);
  border-image-slice: 80 50 80 50;
  border-image-width: 50 30 50 30;
  border-image-outset: 9rem 4rem 3rem 4rem; }
  .logo-container .logo-square {
    font-family: bobo;
    font-size: 20vh;
    font-size: calc(min(20vh, 20vw));
    transition: transform 1.6s;
    transition-timing-function: ease;
    text-align: center;
    line-height: 20vh;
    line-height: calc(min(20vh, 30vw));
    opacity: 0; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.logo-square:nth-child(1) {
  animation: fadeIn 0.6s ease 0.5s 1 forwards; }

.logo-square:nth-child(2) {
  animation: fadeIn 1.2s ease 0.5s 1 forwards; }

.logo-square:nth-child(3) {
  animation: fadeIn 1.8s ease 0.5s 1 forwards; }

.logo-square:nth-child(4) {
  animation: fadeIn 2.4s ease 0.5s 1 forwards; }

.logo-square:nth-child(5) {
  animation: fadeIn 3s ease 0.5s 1 forwards; }

.logo-square:nth-child(6) {
  animation: fadeIn 3.6s ease 0.5s 1 forwards; }

.logo-square:nth-child(7) {
  animation: fadeIn 4.2s ease 0.5s 1 forwards; }

.logo-square:nth-child(8) {
  animation: fadeIn 4.8s ease 0.5s 1 forwards; }

.logo-square:nth-child(9) {
  animation: fadeIn 5.4s ease 0.5s 1 forwards; }

.logo-square:nth-child(10) {
  animation: fadeIn 6s ease 0.5s 1 forwards; }

.logo-square:nth-child(11) {
  animation: fadeIn 6.6s ease 0.5s 1 forwards; }

.logo-square:nth-child(12) {
  animation: fadeIn 7.2s ease 0.5s 1 forwards; }

.logo-twisted-90 {
  transform: rotateZ(90deg); }

.logo-twisted-r90 {
  transform: rotateZ(-90deg); }

.logo-flipped-y {
  transform: rotateY(180deg); }

.logo-flipped-x {
  transform: rotateX(180deg); }

.info {
  grid-column: 1 / span 3;
  text-align: center;
  font-family: bobo; }

@media only screen and (max-width: 450px) {
  img {
    width: 90vw;
    border-bottom: 5px double #ac974b; }

  .logo-container {
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: 7rem; } }

/*# sourceMappingURL=style.css.map */
