@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: "Bobo";
    src: url("../fonts/Bobo (Regular).otf");
}

h3, p, label {
    font-family: "Bobo";
    color: #B29A5C;
    text-align: center;
}
