section { 
	width: 80%;
    height: 100%;
    max-width: 50rem;
    max-height: 150vh;
	margin: 6rem auto;
	display: grid;
	font-size: 1.2rem;
    border: solid;
    border-image: url(STD_splash.svg);
    border-image-slice: 80 50 80 50;
    border-image-width: 50 30 50 30;
    border-image-outset: 9rem 4rem 3rem 4rem;
}

label {
	display: block;
	margin: .5rem;
}

label.required::before {
	content: "*";
	color: red;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 100%;
	max-width: 40rem;
	display: block;
}

textarea {
	min-height: 5rem;
}

input[type="submit"] {
	min-height: 2rem;
	min-width: 5rem;
	font-size: 1rem;
	cursor: pointer;
	float: right;
}

label[data-v_char-counter] {
	position: relative;
}

label[data-v_char-counter]:focus-within::after {
	position: absolute;
	top: 0;
	right: 0;
}

.info-display {
	display: none;
}

.info-display:not(:empty) {
	display: block;
	color: white;
	border-radius: 1rem;
	padding: 2rem;
}

.info-display.faliure:not(:empty) {
	background-color: #bb0000;
}

.info-display.success:not(:empty) {
	background-color: darkgreen;
}

/* V_ */

label[data-v_char-counter]::after {
	content: attr(data-v_char-counter);
	font-size: 1rem;
	color: slategray;
}

label[data-v_char-counter]:focus-within::after {
	content: attr(data-v_char-counter);
	font-size: 1rem;
	color: slategray;
}

label[data-v_char-counter]:not(:focus-within)::after {
	content: "";
}

label[data-v_error-output]::after {
	content: attr(data-v_error-output);
	font-size: 1rem;
	color: #bb0000;
}

label[data-v_error-output]:not(:focus-within)::after {
	content: attr(data-v_error-output);
	font-size: 1rem;
	color: #bb0000;
}

label[data-v_error-output]:focus-within::after {
	content: "";
}

label[data-v_error-output]:not(:focus-within):not([data-v_error-output=""]) input, label[data-v_error-output]:not(:focus-within):not([data-v_error-output=""]) textarea {
	outline: 2px solid #bb0000;
	outline-offset: 1px;
}

input {
	outline-offset: 1px;
}

input[data-v_password-strength="0"] {
	outline: 2px solid #bb0000;
}

input[data-v_password-strength="1"] {
	outline: 2px solid orange;
}

input[data-v_password-strength="2"] {
	outline: 2px solid yellow;
}

input[data-v_password-strength="3"] {
	outline: 2px solid yellowgreen;
}

input[data-v_password-strength="4"] {
	outline: 2px solid green;
}

@font-face {
    font-family: "Bobo";
    src: url("fonts/Bobo (Regular).otf");
}

@font-face {
    font-family: "Industry Light";
    src: url("fonts/Industry-BookItalic.woff");

}

h3, label {
    font-family: "Bobo";
    color: #B29A5C;
}

p {
    font-family: 'Industry Light';
    color: #B29A5C;
}

@media only screen and (max-width: 450px) {

    section { 
	font-size: 0.8rem;
    }
    
    
}