@charset "utf-8";
/* CSS Document */

	.st0 {
		fill: #B29A5C;
	}
	.st1 {
		fill: white;
	}


	.cls-1{
		fill: #b29a5c;
	}
	.cls-2{
		fill: white;
	}
	
	 .cls-3 {
        fill: #c1272d;
      }

	nav p {
		color: #b29a5c;
		margin: 0;
		font-size: .6em;
		text-align: center;
		height: .5em;
		align-self: center;
		font-family: industry, sans-serif;

	}

	.ButtonBox {
		width: 10%;
		justify-self: center;
	}

	.padButtonText {
		padding-top: 5px;
	}
	

	/*
	body, html {
		height: 100%;
		margin: 0;
		padding: 0;
		background-color: #1D002F;
	}
	
	body {
		width: 100%;
		height: 200%;
	}
	*/
	
	svg {
		width: 100%;
		align-self: center;
		justify-self: center;
	}

	#photoDot {
		opacity: 0;
	}

	.sticky {
		position: fixed;
		background-color: #1D002F;
		width: 100%;
	}


	nav {
		width: 40%;
		display: flex;
		justify-content: space-around;
		margin: 2% 30% .5% 30%;
		padding: 0px 50px 20px 50px;
		box-sizing: border-box;
		
	}

	.underline {
		width: 35%;
		margin-left: 32.5%;
		border-top: 2.5px solid #b29a5c;
		margin-bottom: 1%;
		box-sizing: border-box;
	}

	#photoButton:hover #photoDot {
		animation-duration: 1s;
		animation-name: webDevFlash;
		animation-iteration-count: infinite;
		animation-direction: repeat;
	}


	#webDevIcon:hover #webDevFlash {
		animation-duration: 1.1s;
		animation-name: webDevFlash;
		animation-iteration-count: infinite;
		animation-direction: repeat;
	}

	.buttonText {
		display: flex;
		color: white;
		margin: 0;
		font-size: .5em;
		text-align: center;
		height: 1.5em;
		align-self: center;
		font-family: industry, sans-serif;
		justify-content: space-between;
		width: 34%;
		margin-left: 33%;
	}

	.buttonText p {
		margin: 0px;
		width: 25%;
	}

	@keyframes webDevFlash {
		0% {
			opacity: 1;
		}
		10% {
			opacity: .5;
		}
		50% {
			opacity: .5;
		}
		60% {
			opacity: 1;
		}
		100% {
			opacity: 1;
		}
	}

.logo {
	margin-top: 150px;
	margin-bottom: 10px;
}

	@media only screen and (max-width: 1300px) {
		nav {
			width: 60%;
			margin: 2% 20% 1% 20%;
		}
		
		.ButtonBox {
			width: 12%;
		}
		
		.underline {
			width: 50%;
			margin-left: 25%;
		}
}

	@media only screen and (max-width: 800px) {
		nav {
			width: 90%;
			margin: 2% 5% 1% 5%;
		}
		
		.ButtonBox {
			width: 14%;
		}
		
		.underline {
			width: 70%;
			margin-left: 15%;
		}
}